@media (max-width: 768px) {

    .banner {
        display: none;
    }

    #processoSeletivo {
        text-align: center;
        font-size: 0.8em;
        padding: 0.3em;
    }

    header {
        padding: 1em;
        gap: 2em;
        justify-content: space-between;
    }

    header nav ul {
        margin-left: 0;
        list-style: none;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }

    header nav ul li a {
        margin-left: 0.5em;
        color: black;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        font-weight: 500;
        border-bottom: solid 1px;
        border-right: solid 1px;
        border-bottom-right-radius: 5px;
    }

    #iMenu {
        display: block;
    }

    #section1 form {
        margin: 1em auto;
        width: 95%;
    }

    header nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        max-width: 300px;
        height: 100vh;
        background-image: linear-gradient(to right, #A4DCFF, #1a7fbdec);
        transition: left 0.3s ease;
    }

    .nav-open {
        left: 0;
    }

    #section2 div,
    #oProblema div {
        margin-top: 3em;
        width: 95%;
    }

    #containerBox,
    #containerBox2,
    #containerBox3 {
        margin-top: 2em;
        flex-direction: column;
    }

    .box3 {
        margin: 0 auto;
        width: 85%;
    }

    .box6 {
        margin: 0 auto;
        width: 90%;
    }

    #divBtn {
        gap: 0em;
        font-size: 0.8em;
    }

    #section5 h2 {
        padding: 1em;
    }

    footer {
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }

    footer nav {
        border-right: none;
    }

    footer nav ul {
        justify-content: space-between;
        color: white;
        display: flex;
        flex-direction: row;
        display: flex;
        width: 95vw;
    }

    footer nav ul li a{
        border-right: solid 1px #fff;
        padding-right: 1em;
    }

    #processoSeletivoFoot {
        width: max-content;
    }
}