*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #1A7FBD;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: flex;
    list-style: none;
}

input, select{
    border: none;
    outline: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em 10em;
}


header img{
    width: 10em ;
}

header nav ul a:hover {
   color: black;
   transition: 300ms;
}

ul{
    list-style: none;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

header a{
    color: white;
}

fieldset{
    border: none;
    padding: 2em 1em;
}

#iMenu{
    display: none;
}

#processoSeletivo{
    background-color: black;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}

#processoSeletivo:hover{
    background-color: white;
    color: black;
    transition: 300ms;
}

#horizontalLine {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 26.56%, rgba(255, 255, 255, 1) 63.54%, rgba(255, 255, 255, 0) 100%);
}

#section1{
    display: flex;
    margin-top: em;
}

#section1 img{
    width: 60%;
}

#section1 form{
    margin-top: 4em;
    width: 28%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    border-radius: 10px;
    background-color: #fff;
    border: solid 1px #1A7FBD;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.348);
}

#section1 form fieldset p{
    font-size: 0.8em;
}

#fieldset1 {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

#fieldset1 h3{
    color: #bbb;
}

#fieldset1 p{
    color: #1A7FBD;
}

#fieldset1  h3,
#fieldset1  p  {
    margin-left: 1em;
}


#fieldset1 div{
    border: solid 0.5px #bbb;   
    display: flex;
    gap: 1em;
    padding: 0.5em;
    border-radius: 5px;
}

#fieldset1 div img{
    width: 1em;
}

#fieldset1 div select{
    width: 100%;
    color: #666666;
}

#fieldset2{
    gap: 0.6em;
    display: flex;
    flex-direction: column;
    background-color: #1A7FBD;
}

#fieldset2 p{
    color: white;
}

#fieldset2 div{
    display: flex;
    gap: 0.5em;
}

#fieldset2 label {
    color: white;
    font-size: 0.9em;
}

#fieldset3{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#fieldset3 div {
    gap: 1em;
    display: flex;
}

#fieldset3 p {
    color: #1A7FBD;
}

#fieldset3 hr{
    color: #bbb;
}

#fieldset3 h6{
    color: #1A7FBD;
    margin: auto;
}

#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn input{
    width: 95%;
    background-color: #1A7FBD;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    padding: 0.4em;
}

#btn p{
    text-align: center;
    color: #bbb;
}


#section2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-bottom: 5em;
}

#section2 img{
    width: 40% ;
}

#section2 div{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1em;
}

#section2 div h2{
    color: #A4DCFF;
    font-size: 2em;
}

#section2 div p{
    color: #fff;
    font-weight: 300;
}

#section2 div strong {
    color: white;
}

#section3{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
}

#section3 img {
    width: 40%;
}

#oProblema{
    justify-content: center;
    gap: 5em;
    display: flex;
    flex-direction: row;
}

#oProblema h2 {
    background: linear-gradient(87.58deg, #1A7FBD 1.01%, #A4DCFF 100.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2em;
}

#oProblema div{
    margin-top: 6em;
    display: flex;
    height: max-content;
    gap: 1em;
    width: 32%;
    flex-direction: column;
}

#oProblema strong{
    font-size: 1.2em;
}


#containerBox{
    margin-top: -10em;
}

#containerBox,
#containerBox3 {
    display: flex;
    gap: 0.5em;
    justify-content: center ;
}

.box3{
    box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.348);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1em;
    height: 13em;
    width: 22%;
}

.box3 h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 800;
}

#section4{
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section4 h2{
    background: linear-gradient(87.58deg, #1A7FBD 1.01%, #A4DCFF 100.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#containerBox2{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
}

.box6{
    display: flex;
    background-color: #1A7FBD;
    box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.348);
    padding: 0.5em;
    border-radius: 10px;
    align-items: center;
    gap: 0.5em;
    width: 23% ;
    border: solid 1px #fff;
}

.box6 p{
    color: #fff;
    font-size: 0.9em;
    padding: 0 1.5em;
}

.box6 div{
    background-color: #fff;
    border-radius: 10px;
    padding: 0.3em;
    display: flex;
}

.box6 img {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    background-color: #fff;
}

#divBtn{
    display: flex;
    margin-top: 5em;
    border-radius: 10px;
    padding: 1em;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
}

#divBtn p{
    gap: 1em;
    align-items: center;
    color: #fff;
    display: flex;
}

#divBtn img{
   width: 1.5em;
}

#divBtn a{
    color: #1A7FBD;
}

#section5{
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

#section5 h2{
    text-align: center;
    padding: 2.5em ;
    font-size: 2em;
    color:  #fff;
}

#containerBox3{
    gap: 1em;
    display: flex;
    flex-direction: row;
}

footer{
    background-color: black;
    padding: 6em;
    display: flex;
    justify-content: space-evenly;
}

#redes{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#redes img{
    width: 1em;
}

footer p{
    color: #fff;
    font-size: 0.8em;
    margin-top: 1em;
}

#processoSeletivoFoot{
    background-color: #fff;
    height: max-content;
    padding: 0.5em;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

#processoSeletivoFoot:hover {
    border: solid 1px #fff;
    background-color: black;
    height: max-content;
    padding: 0.5em;
    color: #fff;
   
}

footer nav {
    border-right: solid 1px #fff;
    padding-right: 6em;
}

footer nav ul a{
    color: #fff;
    margin-top: 0.5em;
    font-size: 0.8em;
}

footer nav ul a:hover {
    background-color: white;
    color: black;
    padding: 0.2em;
    border-radius: 5px;
    transition: 300ms;
}